<nav class="main-navigation">
  <div class="nav-container">
    <a href="/" class="nav-logo">AI4Polymer</a>
    <ul class="nav-menu">
      <li><a href="/pages/papers/">Paper Survey</a></li>
      <li><a href="/pages/databases/">Databases</a></li>
      <li><a href="/pages/tutorials/">Tutorials</a></li>
      <li><a href="/pages/algorithms/">ML Algorithms</a></li>
      <li><a href="/pages/predictor/">Web Predictor</a></li>
      <li><a href="/community/">Community</a></li>
    </ul>
  </div>
</nav>